name: CI
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11]
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: ${{matrix.java}}
        distribution: adopt
    - uses: sbt/setup-sbt@v1
    - run: sbt -v
           "project precompiler"
           "+ test"
           "+ publishLocal"
           "project plugin"
           "^ publishLocal"
           "^ scripted"
    - run: rm -rf ~/.ivy2/local
